
body {
    margin:0;
    overflow-x: hidden;
}
.header {
        display: block;
        padding: 5px;
        margin: 0px 0px 0px 0px; 
        color: white;
        background-color: black;
        text-align: center;
}
/*ovo je style za listu, koja izgleda kao navigation menu*/
.nav { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
.navli {
    float:left;
}
.ali {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}
.ali:hover {
    color: black
}
/* ne koristim float jer mi nije potreban- ali cu da ga ostavim ovde za svaki slucaj */
/* p {
    float:right;
} */
/* ovo je tabela za fast f film */
.tabela1 {
    width: 100%;
}
.tabela1, .td1, .th1 {
    border: 2px solid black;
    border-collapse: collapse;
}
.th1 {
    height: 50px;
    text-align: center;
}
/*ovo je id za youtube iframe koji koristim za fast f*/
#youtube{
    float: right;
}
/* ovo je style za iframe a width i height je u html file */
iframe{
    max-width: 100%;
}
/* ovo su kratice za glumce u fast f filmu */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}
/* h6 je tekst koji se nalazi u karticama */
h6 {
    padding: 10px;
}
/* imglink je logo u headeru */
.imagelink {
text-decoration: none;
}
/* ovo je font za QA movies u headeru */
#head {
    font-size: 200%"
}
/* uz pomoc verical-align smo uspeli da izjednacimo text i logo u headeru */
#headimg {
    vertical-align: -25px
}
/* ovo je title za fast f  */
#linkprojektor {
    color:black;
    text-decoration: none;
}
/* pimg je style za paragraf koji ima i sliku - za fast f */
#pimg {
    padding: 10px;
    line-height: 1.8;
}
/* ovo je slika za fast f */
#pimg1 {
    float: left; 
    padding: 1px 40px 1px 1px;
}
/* tabela za glumce fast f  */
.table {
    width: 100%;
}
/* timg su slike u tabeli */
.timg{
    padding: 0px 0px 0px 0px
}
/*actors1 je naslov za main actors..*/
#actors1 {
    padding: 20px 0;
    text-align: center;
    text-shadow: 2px 1px grey;
}
/* ovo je tabela za colossal */
#table3 {
    width: 100%;
}
/* timg3 je za slike u tabeli */
.timg1 {
    width:100%
}
/* h12 je naslov za collosal  */
#h12 { 
    padding: 20px 0;
    display: block; 
    text-align: center;
}
/* h1a je link u h12 naslovu */
#h1a {
    color: black; 
    text-decoration: none;
    text-shadow: 2px 1px grey;
}
/* par je paragraf ispod naslova */
#par{
    padding: 20px;
    line-height: 1.8;
}
/* pimg2 je slika u paragrafu */
#pimg2 {
    float: right;
    padding: 10px 10px 10px 5px;
}
/* table2 je lista glumaca za colossal */
#table2 {
    width: 100%;
}
/* timg2 je clasa za glumce u listi */
.timg2 {
    padding: 0px 0px 0px 0px;
}
/* ovo su main actors za colossal */
#actors2 {
    padding: 20px 0;
    text-align: center;
    text-shadow: 2px 1px grey;
}
/* table 3 je tabela za colossal */
#table3 {
    width: 100%; 
    padding: 10px 10px 10px 10px;
}
/* slike u tabeli za colossal */
.timg3 {
    width:100%
}
/* ovo je title za the best 12 movies */
#movies {
    padding: 30px 0;
    text-align: center;
    text-shadow: 2px 1px grey;
}
/* ovo je link koji vodi na projector page */
#linka {
    text-align: center;
    background: grey;
    width: 40%;
    padding: 15px 0;
    border: 2px solid black;
    margin: auto;
}
/* ovo je boja linka koji vodi na projector page */
#linka1 {
    color: white;
}
/* ovo je maring koji je paragraf ispod  */
#best {
    margin: 10px 0px 0px 0px;
 }
 /* ovo paragraf koji je scrollabilan */
#p1 {
    background: grey;
    color: white;
    padding: 15px 15px;
    max-width: 100%;
    height: 80px;
    overflow: scroll;
    border: 2px solid black;
}
/* hb je title za formu */
#hb {
    padding: 30px 0;
    text-align: center;
    text-shadow: 2px 1px grey;
}
/* id za formu */
#form {
    padding:20px; 
    background-image: url(../img/milos4.jpg); 
    background-size: cover;
}
/* hf je kratak uvod u formu */
#hf {
    text-align: center; 
    color: black; 
    padding: 10px;
}
#textarea {
    width:300px; 
    height: 100px; 
    display: block;
    background-color: wheat;

}
/* pa je link koji we support youtube */
#pa {
    color:white;
    text-decoration: none;
    float: right;
}
.footer {
    display: block; 
    background-color: black; 
    color: white; 
    text-align: center; 
    margin: 0px 0px 0px 0px;
    padding: 20px 10px 20px 10px;
}
/* small je text u footeru */
#small {
    display: block; 
    padding: 10px;
    margin: 10px;
}
.footera {
    color: white;
}
/* ovo je title za fast f */
#h1linkp {
    padding: 10px 0;
    text-align: center;
    text-shadow: 2px 1px grey;
}
/* ovo su first i last name u formu */
.names {
    border: 1px solid black;
    background-color: wheat;
}
/* ovo je margin za tabelu the best 12 movies */
#tab {
    margin: 15px 0px 15px 0;
}
/* ovo su button u formi */
.button {
    background-color: gray;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}