body {
    margin:0;
}
.header {
    display: block;
    padding: 5px;
    margin: 0px 0px 0px 0px; 
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}
/*ovo je style za listu, koja izgleda kao navigation menu*/
.nav { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
.navli {
    float: left;
}
.ali {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}
a:hover {
    color: black
}
/* sklanja white space iz html */
a.imagelink {   
    text-decoration: none;
}
/* <!-- ubacujem stajl za margine da se vide (sekcija 2)    --> */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 12px;
}
.footer {
    display: block;
    background-color: black;
    color: white;
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding: 20px 10px 20px 10px;
}
.div_left {
    float: left;
    width: 50%;
    height: 400px;
}
.div_right {
    float: right;
    width: 50%;
    height: 400px;
} 